In [131]:
import numpy as np
import pandas as pd

In [133]:
#pd.set_option('display.expand_frame_repr', True)

In [124]:
training_file = 'C:\\Users\\T0253VK\\Desktop\\HOME\\ForMS\\Information_Retreival_5810\\Project1\\all\\training.csv'
test_file = 'C:\\Users\\T0253VK\\Desktop\\HOME\\ForMS\\Information_Retreival_5810\\Project1\\all\\test.csv'
df = pd.read_csv(training_file)
df_train = pd.read_csv(test_file)

In [125]:
print(df.shape)

(72983, 34)

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 34 columns):
RefId                                72983 non-null int64
IsBadBuy                             72983 non-null int64
PurchDate                            72983 non-null object
Auction                              72983 non-null object
VehYear                              72983 non-null int64
VehicleAge                           72983 non-null int64
Make                                 72983 non-null object
Model                                72983 non-null object
Trim                                 70623 non-null object
SubModel                             72975 non-null object
Color                                72975 non-null object
Transmission                         72974 non-null object
WheelTypeID                          69814 non-null float64
WheelType                            69809 non-null object
VehOdo                               72983 non-null int64
Nationality                          72978 non-null object
Size                                 72978 non-null object
TopThreeAmericanName                 72978 non-null object
MMRAcquisitionAuctionAveragePrice    72965 non-null float64
MMRAcquisitionAuctionCleanPrice      72965 non-null float64
MMRAcquisitionRetailAveragePrice     72965 non-null float64
MMRAcquisitonRetailCleanPrice        72965 non-null float64
MMRCurrentAuctionAveragePrice        72668 non-null float64
MMRCurrentAuctionCleanPrice          72668 non-null float64
MMRCurrentRetailAveragePrice         72668 non-null float64
MMRCurrentRetailCleanPrice           72668 non-null float64
PRIMEUNIT                            3419 non-null object
AUCGUART                             3419 non-null object
BYRNO                                72983 non-null int64
VNZIP1                               72983 non-null int64
VNST                                 72983 non-null object
VehBCost                             72983 non-null float64
IsOnlineSale                         72983 non-null int64
WarrantyCost                         72983 non-null int64
dtypes: float64(10), int64(9), object(15)
memory usage: 18.9+ MB

In [127]:
df.head(5)

,RefId,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,0,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,0,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,0,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,0,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,0,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020

In [120]:
df.describe()

              RefId      IsBadBuy       VehYear    VehicleAge   WheelTypeID         VehOdo  MMRAcquisitionAuctionAveragePrice  MMRAcquisitionAuctionCleanPrice  MMRAcquisitionRetailAveragePrice  MMRAcquisitonRetailCleanPrice  MMRCurrentAuctionAveragePrice  MMRCurrentAuctionCleanPrice  MMRCurrentRetailAveragePrice  MMRCurrentRetailCleanPrice         BYRNO        VNZIP1      VehBCost  IsOnlineSale  WarrantyCost
count  72983.000000  72983.000000  72983.000000  72983.000000  69814.000000   72983.000000                       72965.000000                     72965.000000                      72965.000000                   72965.000000                   72668.000000                 72668.000000                  72668.000000                72668.000000  72983.000000  72983.000000  72983.000000  72983.000000  72983.000000
mean   36511.428497      0.122988   2005.343052      4.176644      1.494299   71499.995917                        6128.909217                      7373.636031                       8497.034332                    9850.928240                    6132.081287                  7390.681827                   8775.723331                10145.385314  26345.842155  58043.059945   6730.934326      0.025280   1276.580985
std    21077.241302      0.328425      1.731252      1.712210      0.521290   14578.913128                        2461.992768                      2722.491986                       3156.285284                    3385.789541                    2434.567723                  2686.248852                   3090.702941                 3310.254351  25717.351219  26151.640415   1767.846435      0.156975    598.846788
min        1.000000      0.000000   2001.000000      0.000000      0.000000    4825.000000                           0.000000                         0.000000                          0.000000                       0.000000                       0.000000                     0.000000                      0.000000                    0.000000    835.000000   2764.000000      1.000000      0.000000    462.000000
25%    18257.500000      0.000000   2004.000000      3.000000      1.000000   61837.000000                        4273.000000                      5406.000000                       6280.000000                    7493.000000                    4275.000000                  5414.000000                   6536.000000                 7784.000000  17212.000000  32124.000000   5435.000000      0.000000    837.000000
50%    36514.000000      0.000000   2005.000000      4.000000      1.000000   73361.000000                        6097.000000                      7303.000000                       8444.000000                    9789.000000                    6062.000000                  7313.000000                   8729.000000                10103.000000  19662.000000  73108.000000   6700.000000      0.000000   1155.000000
75%    54764.500000      0.000000   2007.000000      5.000000      2.000000   82436.000000                        7765.000000                      9021.000000                      10651.000000                   12088.000000                    7736.000000                  9013.000000                  10911.000000                12309.000000  22808.000000  80022.000000   7900.000000      0.000000   1623.000000
max    73014.000000      1.000000   2010.000000      9.000000      3.000000  115717.000000                       35722.000000                     36859.000000                      39080.000000                   41482.000000                   35722.000000                 36859.000000                  39080.000000                41062.000000  99761.000000  99224.000000  45469.000000      1.000000   7498.000000

In [84]:
#df.describe

In [93]:
#Remove these columns 
#PRIMEUNIT (90% Values are NA)
#AUCGUART (90% Values are NA)
#RefId (Serial Number)
#WheelType
df.isnull().sum()

RefId                                    0
IsBadBuy                                 0
PurchDate                                0
Auction                                  0
VehYear                                  0
VehicleAge                               0
Make                                     0
Model                                    0
Trim                                  2360
SubModel                                 8
Color                                    8
Transmission                             9
WheelTypeID                           3169
WheelType                             3174
VehOdo                                   0
Nationality                              5
Size                                     5
TopThreeAmericanName                     5
MMRAcquisitionAuctionAveragePrice       18
MMRAcquisitionAuctionCleanPrice         18
MMRAcquisitionRetailAveragePrice        18
MMRAcquisitonRetailCleanPrice           18
MMRCurrentAuctionAveragePrice          315
MMRCurrentAuctionCleanPrice            315
MMRCurrentRetailAveragePrice           315
MMRCurrentRetailCleanPrice             315
PRIMEUNIT                            69564
AUCGUART                             69564
BYRNO                                    0
VNZIP1                                   0
VNST                                     0
VehBCost                                 0
IsOnlineSale                             0
WarrantyCost                             0
dtype: int64

In [96]:
#Remove IsBadBuy Class from DataFrame as that needs to be classified.
X_train = df.drop('IsBadBuy',axis = 1)
Y_train = df['IsBadBuy']
X_train

,RefId,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,1,12/7/2009,ADESA,2006,3,MAZDA,MAZDA3,i,4D SEDAN I,RED,...,11597.0,12409.0,NaN,NaN,21973,33619,FL,7100.0,0,1113
1,2,12/7/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11374.0,12791.0,NaN,NaN,19638,33619,FL,7600.0,0,1053
2,3,12/7/2009,ADESA,2005,4,DODGE,STRATUS V6,SXT,4D SEDAN SXT FFV,MAROON,...,7146.0,8702.0,NaN,NaN,19638,33619,FL,4900.0,0,1389
3,4,12/7/2009,ADESA,2004,5,DODGE,NEON,SXT,4D SEDAN,SILVER,...,4375.0,5518.0,NaN,NaN,19638,33619,FL,4100.0,0,630
4,5,12/7/2009,ADESA,2005,4,FORD,FOCUS,ZX3,2D COUPE ZX3,SILVER,...,6739.0,7911.0,NaN,NaN,19638,33619,FL,4000.0,0,1020
5,6,12/7/2009,ADESA,2004,5,MITSUBISHI,GALANT 4C,ES,4D SEDAN ES,WHITE,...,8149.0,9451.0,NaN,NaN,19638,33619,FL,5600.0,0,594
6,7,12/7/2009,ADESA,2004,5,KIA,SPECTRA,EX,4D SEDAN EX,BLACK,...,6230.0,8603.0,NaN,NaN,19638,33619,FL,4200.0,0,533
7,8,12/7/2009,ADESA,2005,4,FORD,TAURUS,SE,4D SEDAN SE,WHITE,...,6942.0,8242.0,NaN,NaN,19638,33619,FL,4500.0,0,825
8,9,12/7/2009,ADESA,2007,2,KIA,SPECTRA,EX,4D SEDAN EX,BLACK,...,9637.0,10778.0,NaN,NaN,21973,33619,FL,5600.0,0,482
9,10,12/7/2009,ADESA,2007,2,FORD,FIVE HUNDRED,SEL,4D SEDAN SEL,RED,...,12580.0,14845.0,NaN,NaN,21973,33619,FL,7700.0,0,1633
10,11,12/14/2009,ADESA,2005,4,GMC,1500 SIERRA PICKUP 2,SLE,REG CAB 4.3L,SILVER,...,9494.0,11663.0,NaN,NaN,5546,33619,FL,5500.0,0,1373
11,12,12/14/2009,ADESA,2001,8,FORD,F150 PICKUP 2WD V6,XL,REG CAB 4.2L XL,WHITE,...,5734.0,6559.0,NaN,NaN,5546,33619,FL,5300.0,0,869
12,13,12/14/2009,ADESA,2005,4,DODGE,CARAVAN GRAND FWD V6,SE,MINIVAN 3.3L,RED,...,8523.0,10124.0,NaN,NaN,19638,33619,FL,5400.0,0,1623
13,14,12/14/2009,ADESA,2005,4,NISSAN,ALTIMA,Bas,4D SEDAN,WHITE,...,9374.0,10780.0,NaN,NaN,19638,33619,FL,7800.0,0,686
14,15,12/14/2009,ADESA,2006,3,DODGE,CARAVAN GRAND FWD V6,SXT,MINIVAN 3.8L,GOLD,...,12131.0,13836.0,NaN,NaN,19638,33619,FL,6900.0,0,1623
15,16,12/14/2009,ADESA,2003,6,CHEVROLET,CAVALIER 4C,Bas,2D COUPE,WHITE,...,4855.0,5506.0,NaN,NaN,5546,33619,FL,3300.0,0,1455
16,17,12/14/2009,ADESA,2005,4,CHEVROLET,TRAILBLAZER 2WD 6C,LS,4D SUV 4.2L,WHITE,...,12596.0,15041.0,NaN,NaN,19638,33619,FL,6800.0,0,1243
17,18,12/14/2009,ADESA,2003,6,SATURN,VUE 2WD 4C,NaN,4D CUV 2.2L,RED,...,7195.0,9364.0,NaN,NaN,5546,33619,FL,4900.0,0,1923
18,19,12/14/2009,ADESA,2005,4,CHEVROLET,IMPALA,Bas,4D SEDAN,GREY,...,7638.0,8800.0,NaN,NaN,19638,33619,FL,5700.0,0,1703
19,20,12/14/2009,ADESA,2004,5,GMC,ENVOY XL 2WD 6C,SLE,4D UTILITY 4.2L SLE,BLACK,...,11367.0,12609.0,NaN,NaN,19638,33619,FL,7100.0,0,1243
20,21,12/14/2009,ADESA,2002,7,CHRYSLER,VOYAGER FWD V6,Bas,MINIVAN 3.3L,BLUE,...,6228.0,7413.0,NaN,NaN,19638,33619,FL,4800.0,0,1551
21,22,12/14/2009,ADESA,2002,7,CHEVROLET,MONTE CARLO,SS,2D COUPE SS,WHITE,...,7512.0,8975.0,NaN,NaN,5546,33619,FL,5800.0,0,2003
22,23,12/21/2009,ADESA,2004,5,CHEVROLET,VENTURE FWD V6,LS,PASSENGER 3.4L,SILVER,...,5999.0,8687.0,NaN,NaN,5546,33619,FL,4100.0,0,5613
23,24,12/21/2009,ADESA,2006,3,CHEVROLET,HHR,LS,4D SUV 2.2L LS,GREY,...,9721.0,11606.0,NaN,NaN,5546,33619,FL,7700.0,0,671
24,25,12/21/2009,ADESA,2007,2,CHEVROLET,HHR,LS,4D SUV 2.2L LS,GREY,...,11189.0,11803.0,NaN,NaN,5546,33619,FL,7000.0,0,728
25,26,12/21/2009,ADESA,2004,5,MERCURY,SABLE,LS,4D SEDAN LS PREMIUM,WHITE,...,6600.0,8074.0,NaN,NaN,5546,33619,FL,4500.0,0,754
26,27,12/21/2009,ADESA,2002,7,GMC,ENVOY XL 4WD 6C,SLE,4D UTILITY 4.2L SLE,GOLD,...,8522.0,10252.0,NaN,NaN,5546,33619,FL,8000.0,0,2452
27,28,12/21/2009,ADESA,2004,5,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,WHITE,...,11135.0,12560.0,NaN,NaN,19638,33619,FL,8800.0,0,920
28,29,12/28/2009,ADESA,2004,5,DODGE,DURANGO 4WD V8,SLT,4D SUV 5.7L SLT,RED,...,12295.0,15807.0,NaN,NaN,19638,33619,FL,8400.0,0,1411
29,30,12/28/2009,ADESA,2005,4,DODGE,CARAVAN GRAND FWD V6,SXT,MINIVAN 3.8L SXT,GREY,...,9768.0,11489.0,NaN,NaN,19638,33619,FL,5600.0,0,1763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72953,72985,11/18/2009,ADESA,2006,3,PONTIAC,GRAND PRIX,Bas,4D SEDAN,SILVER,...,10234.0,11533.0,NaN,NaN,18111,30212,GA,6835.0,0,1703
72954,72986,11/18/2009,ADESA,2008,1,DODGE,AVENGER V6,SE,4D SEDAN,BLUE,...,14594.0,15781.0,NaN,NaN,18111,30212,GA,8200.0,0,1118
72955,72987,11/18/2009,ADESA,2007,2,SUZUKI,FORENZA,NaN,4D SEDAN,RED,...,8632.0,9665.0,NaN,NaN,18111,30212,GA,5700.0,0,533
72956,72988,11/24/2009,ADESA,2007,2,SUZUKI,FORENZA,NaN,4D SEDAN,GOLD,...,8303.0,9310.0,NaN,NaN,18881,30212,GA,5200.0,0,533
72957,72989,11/24/2009,ADESA,2005,4,JEEP,LIBERTY 4WD V6,Spo,4D SUV,RED,...,11223.0,12190.0,NaN,NaN,18881,30212,GA,6600.0,0,983
72958,72990,11/24/2009,ADESA,2006,3,DODGE,STRATUS 4C,SXT,4D SEDAN,SILVER,...,7771.0,9125.0,NaN,NaN,18881,30212,GA,4800.0,0,1243
72959,72991,11/24/2009,ADESA,2005,4,CHEVROLET,EQUINOX AWD V6,LS,4D SUV LS,BLACK,...,8293.0,10152.0,NaN,NaN,18881,30212,GA,6600.0,0,1506
72960,72992,11/24/2009,ADESA,2007,2,CHRYSLER,300,Bas,4D SEDAN,GREY,...,14220.0,16261.0,NaN,NaN,18881,30212,GA,9500.0,0,1389
72961,72993,11/24/2009,ADESA,2002,7,GMC,1500 SIERRA PICKUP 2,Sta,EXT CAB 5.3L,BLACK,...,8601.0,11467.0,NaN,NaN,18111,30212,GA,7000.0,0,1543
72962,72994,11/24/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 4WD V,Lar,4D WAGON,BLACK,...,13488.0,16410.0,NaN,NaN,18111,30212,GA,9000.0,0,1417
72963,72995,11/24/2009,ADESA,2002,7,CHEVROLET,TRAILBLAZER EXT 2WD,LT,4D SUV 4.2L LT,BEIGE,...,8125.0,9754.0,NaN,NaN,18881,30212,GA,7000.0,0,1455
72964,72996,11/24/2009,ADESA,2006,3,DODGE,STRATUS 4C,SXT,4D SEDAN,WHITE,...,6587.0,7519.0,NaN,NaN,18881,30212,GA,5000.0,0,1155
72965,72997,11/24/2009,ADESA,2005,4,CHRYSLER,SEBRING 4C,Bas,4D SEDAN,WHITE,...,7268.0,8262.0,NaN,NaN,18881,30212,GA,4400.0,0,1155
72966,72998,11/24/2009,ADESA,2005,4,SUZUKI,FORENZA,S,4D SEDAN,BLUE,...,6165.0,7089.0,NaN,NaN,18881,30212,GA,5500.0,0,482
72967,72999,11/24/2009,ADESA,2006,3,DODGE,DURANGO 4WD V8,Adv,4D SUV 4.7L,RED,...,15702.0,17702.0,NaN,NaN,18881,30212,GA,9800.0,0,1251
72968,73000,11/24/2009,ADESA,2004,5,HYUNDAI,ELANTRA,GLS,4D SEDAN,WHITE,...,7738.0,10006.0,NaN,NaN,18881,30212,GA,4500.0,0,533
72969,73001,11/24/2009,ADESA,2004,5,SATURN,ION,2,4D SEDAN LEVEL 2,BLACK,...,6518.0,8156.0,NaN,NaN,18111,30212,GA,4200.0,0,803
72970,73002,11/24/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 4WD V,Lar,4D WAGON,WHITE,...,13630.0,15333.0,NaN,NaN,18881,30212,GA,9700.0,0,1606
72971,73003,11/24/2009,ADESA,2007,2,KIA,SPECTRA,EX,4D SEDAN EX,BLUE,...,8899.0,10467.0,NaN,NaN,18881,30212,GA,6000.0,0,482
72972,73004,11/24/2009,ADESA,2006,3,JEEP,COMMANDER 2WD V8,Bas,4D WAGON,BLACK,...,17619.0,19161.0,NaN,NaN,18111,30212,GA,10400.0,0,1606
72973,73005,11/24/2009,ADESA,2006,3,CHRYSLER,300,Bas,4D SEDAN,GREEN,...,12398.0,14231.0,NaN,NaN,18111,30212,GA,7600.0,0,1215
72974,73006,12/2/2009,ADESA,2002,7,DODGE,1500 RAM PICKUP 2WD,ST,QUAD CAB 4.7L SLT,GOLD,...,9169.0,10173.0,NaN,NaN,18111,30212,GA,7500.0,0,1353
72975,73007,12/2/2009,ADESA,2007,2,HYUNDAI,SONATA V6,Lim,4D SEDAN,SILVER,...,11776.0,13041.0,NaN,NaN,18111,30212,GA,8000.0,0,803
72976,73008,12/2/2009,ADESA,2004,5,FORD,EXPLORER 2WD V6,XLS,4D SUV 4.0L FFV XLS,SILVER,...,9659.0,10944.0,NaN,NaN,18881,30212,GA,7000.0,0,1243
72977,73009,12/2/2009,ADESA,2006,3,KIA,SORENTO 2WD,EX,4D SPORT UTILITY EX,GOLD,...,12148.0,14204.0,NaN,NaN,18111,30212,GA,7900.0,0,1508
72978,73010,12/2/2009,ADESA,2001,8,MERCURY,SABLE,GS,4D SEDAN GS,BLACK,...,4836.0,5937.0,NaN,NaN,18111,30212,GA,4200.0,0,993
72979,73011,12/2/2009,ADESA,2007,2,CHEVROLET,MALIBU 4C,LS,4D SEDAN LS,SILVER,...,10151.0,11652.0,NaN,NaN,18881,30212,GA,6200.0,0,1038
72980,73012,12/2/2009,ADESA,2005,4,JEEP,GRAND CHEROKEE 2WD V,Lar,4D WAGON LAREDO,SILVER,...,11831.0,14402.0,NaN,NaN,18111,30212,GA,8200.0,0,1893
72981,73013,12/2/2009,ADESA,2006,3,CHEVROLET,IMPALA,LS,4D SEDAN LS,WHITE,...,10099.0,11228.0,NaN,NaN,18881,30212,GA,7000.0,0,1974
72982,73014,12/2/2009,ADESA,2006,3,MAZDA,MAZDA6,s,4D SEDAN S,SILVER,...,11954.0,13246.0,NaN,NaN,18111,30212,GA,8000.0,0,1313

In [94]:
#KNN Classifier
#from sklearn.neighbors import KNeighborsClassifier
#model = KNeighborsClassifier(n_neighbors=3)
#model.fit(X_train,Y_train)